<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My web site</title>
  </head>
  <body>
    <form action="/regions/edit/" method="get">
        {% if reg%}
            <input type="hidden" name="id" value="{{reg.id}}">
            <input type="text" name="name" value="{{reg.name}}">    
        {% else %}
            <input type="hidden" name="id" value="0">
            <input type="text" name="name">    
        {% endif%}
        <button type="submit">Edit</button>
    </form>
  </body>
</html>